@model IEnumerable<InvestOA.Core.History>

@{
    ViewData["Title"] = "History";
}

<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>            
            @if (Model != null)
            {
                foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Ticker</td>
                        <td>@s.Shares</td>
                        <td>@s.Price USD</td>
                        <td>@s.TimeOfTransaction</td>
                    </tr>
                }
            }        
        </tbody>
    </table>
    @if (ViewBag.Page > 0)
    {
        <a href="@Url.Action("History", new { page = ViewBag.Page - 1 })" 
           class="btn btn-default">
            &laquo; Prev
        </a>
    }
    @if (ViewBag.Page < ViewBag.MaxPage)
    {
        <a href="@Url.Action("History", new { page = ViewBag.Page + 1 })" 
           class="btn btn-default">
            Next &raquo;
        </a>
    }
</form>