@model InvestOA.Core.Requests.IndexRequest

@{
    ViewData["Title"] = "Home";
}

<meta http-equiv="refresh" content="20" />

<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <th>@Model.Total USD</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach(var s in Model.Stocks)
            {
                <tr>
                    <td>@s["symbol"]</td>
                    <td>@s["companyName"]</td>
                    <td>@s["shares"]</td>
                    <td>@s["price"] USD</td>
                    <td>@s["total"] USD</td>
                </tr>
            }
            <tr>
                <td cosplan="4">CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>@Model.Cash USD</td>
            </tr>
        </tbody>
    </table>
</form>